/* Base */
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
a,
a:visited {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  padding-top: 26.37px;
}
.header-flex {
  display: flex;
  align-items: center;
}
header .logo-img {
  width: 147px;
}
.nav-bar {
  display: flex;
  margin-left: 150.58px;
}
.nav-bar a {
  padding: 5px 35px;
}
.nav-bar a:not(:last-child) {
  border-right: 1px solid #343460;
}
.nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #343460;
  transition: 200ms ease;
}
.nav-link:hover {
  transition: 200ms ease;
  color: #ef4447;
}

/* Burder menu */

/* Hero */
@media (min-width: 500px) {
  .hero {
    position: relative;
    padding-top: 97.26px;
    padding-bottom: 235.49px;
    background-image: url("../img/hero-man.svg"), url("../img/hero-bg.png");
    background-position: bottom -200px right 0, right 0 bottom -50px;
    background-size: 1199px 894px, 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    overflow: hidden;
  }
}
.hero-text {
  text-align: left;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  text-transform: uppercase;
  color: #ee4148;
}
.hero-text h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #2d2d2d;
  margin-bottom: 20.23px;
}
.hero-text p {
  width: 470px;
  font-size: 22px;
  line-height: 140%;
  color: #2d2d2d;
  margin-bottom: 40.46px;
}
.hero-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 60px;
  background: #8ed864;
  border-radius: 67px;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
}
.hero-text a:hover {
  background: #c2eeaa;
}

/* Who */
.who {
  position: relative;
  padding-top: 118.14px;
  padding-bottom: 145.16px;
  margin-left: -260px;
}
.who-top {
  display: flex;
  justify-content: center;
}
.who-top img {
  width: 694.5px;
  height: 761.6px;
}
.top-text {
  width: 521px;
  margin-left: 60px;
  margin-top: 70px;
}
.top-text h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #2d2d2d;
  margin-bottom: 18.23px;
}
.top-text p {
  font-size: 18px;
  line-height: 140%;
  color: #2d2d2d;
}
.who-cards {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  margin-left: 280px;
}
.who-cards .card {
  width: 347.5px;
}
.who-cards .card:first-child {
  margin-right: 185.29px;
}
.card-top {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 179.74px;
  background: #ffffff;
  box-shadow: -2px 3px 14px rgba(58, 58, 58, 0.16);
  border-radius: 11px;
  margin-bottom: 40.84px;
}
.who-cards .card-top:hover {
  box-shadow: -3px 2px 60px rgba(210, 227, 246, 0.5);
}
.who-cards .card-top img {
  width: 75px;
  height: 75px;
}
.who-cards .card-top p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.who-cards .card > p {
  font-size: 18px;
  line-height: 140%;
  color: #2d2d2d;
}

/* Duties */
.duties {
  padding-top: 117px;
  padding-bottom: 125px;
  background: #f3fced;
}
.duties-flex h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 32px;
}
.duties-flex > p {
  width: 827.75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 60.25px;
}
.duties-cards {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78.85px;
}
.duties-cards .card {
  width: 209px;
}
.duties-cards .card:not(:last-child) {
  margin-right: 151.5px;
}
.image-wrapper {
  width: 168.55px;
  height: 168.55px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13.45px;
  margin-left: auto;
  margin-right: auto;
}
.image-wrapper img {
  width: 73px;
  height: 73px;
}
.duties-cards .card p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #2d2d2d;
}
.duties-flex a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 60px;
  background: #8ed864;
  border-radius: 67px;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.duties-flex a:hover {
  background: #c2eeaa;
}

/* About */
.about {
  padding-top: 172.09px;
  padding-bottom: 227.83px;
}
.about-flex {
  display: flex;
  justify-content: center;
}
.about-text {
  margin-top: 96px;
  margin-right: 87px;
}
.about-text h2 {
  width: 527px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #2d2d2d;
  margin-bottom: 31.23px;
}
.about-text p {
  width: 513.6px;
  font-size: 18px;
  line-height: 140%;
  color: #2d2d2d;
}
.about-flex img {
  width: 626.88px;
  height: 421.62px;
}

/* How */
.how {
  padding-bottom: 181.51px;
}
.how-flex h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #2d2d2d;
  margin-bottom: 54.08px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.how-cards {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
}
.how-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29.91px 35px 70px;
  box-shadow: -2px 3px 14px rgba(58, 58, 58, 0.16);
  border-radius: 11px;
}
.how-cards .card:hover {
  box-shadow: -3px 2px 60px rgba(210, 227, 246, 0.5);
}
.how-cards .card:not(:last-child) {
  margin-right: 95px;
}
.how-cards .card > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 18.24px;
}
.how-cards .card > .image-wrapper {
  margin: 0;
  margin-bottom: 23.77px;
  width: 75px;
  height: 75px;
  background: #ffd3ce;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-cards .card > .image-wrapper > img {
  display: block;
  width: 38px;
  height: auto;
}
.how-cards .card > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 9px;
  width: 162px;
}
.how-cards .card p {
  width: 225px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #2d2d2d;
}
/* second */
.how-cards .card:nth-child(2) {
  background: #f15045;
}
.how-cards .card:nth-child(2) > h3 {
  margin-bottom: 27.2px;
  color: #fff;
}
.how-cards .card:nth-child(2) > .image-wrapper {
  margin-bottom: 30.93px;
  background-color: #fff;
}
.how-cards .card:nth-child(2) > .image-wrapper > img {
  padding-left: 5px;
  padding-bottom: 5px;
}
.how-cards .card:nth-child(2) > h2 {
  margin-bottom: 28px;
  color: #fff;
}
.how-cards .card:nth-child(2) > p {
  color: #fff;
}
/* second end */

/* Form */
.form {
  padding-top: 133.61px;
  padding-bottom: 160.17px;
  background: #f3fced;
}
.form-flex {
  display: flex;
  justify-content: center;
}
.form-flex > img {
  width: 697.84px;
  height: 390.04px;
  margin-right: 115.8px;
}
.form-text {
  display: flex;
  flex-direction: column;
}
.form-text > h2 {
  width: 475.57px;
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #2d2d2d;
  margin-bottom: 26.66px;
}
.form-text > input {
  width: 420.22px;
  height: 60px;
  background: #ffffff;
  border-radius: 70px;
  border: none;
  outline: none;

  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 12.33px;
}
.form-text > input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #2d2d2d;
}
.form-text > input:hover,
.form-text > input:focus {
  box-shadow: 0px 0px 16px rgba(194, 238, 170, 0.69);
}
.form-text > button {
  width: 420.22px;
  height: 60px;
  background: #8ed864;
  border-radius: 67px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
}
.form-text > button:hover {
  background: #c2eeaa;
}

/* Footer */
footer {
  padding-top: 39.97px;
  padding-bottom: 57.28px;
  background: #263238;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* info */
.footer-flex .info > a {
  margin-bottom: 35px;
}
.footer-flex .info > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
/* info */
/* soclinks */
.footer-flex .soclinks {
  display: flex;
}
.footer-flex .soclinks a {
  display: block;
  width: 39.93px;
  height: 39.91px;
  background: #cdcdcd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-flex .soclinks a:hover {
  background: #c2eeaa;
}
.footer-flex .soclinks > li:not(:last-child) {
  margin-right: 25.54px;
}
.footer-flex .soclinks > li .icon {
  width: 24.2px;
  height: 24.2px;
  display: block;
}
/* soclinks */
/* contacts */
.contacts > li:not(:last-child) {
  margin-bottom: 17.22px;
}
.contacts > li {
  display: flex;
  align-items: center;
}
.contacts .contact-link {
  display: flex;
  align-items: center;
}
.contacts > li img {
  width: 26px;
  height: 26px;
  display: block;
}
.contacts > li span {
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
  margin-left: 15.08px;
}
.contacts > li:not(:last-child):hover span {
  color: #c2eeaa;
}
.contacts .mobile-hidden {
  margin-left: 0;
}
/* contacts */

.swiper-container {
  display: none;
}

.duties-button-mobile {
  display: none;
}

/* Векторы */
.hero-vector {
  position: absolute;
  width: 262.44px;
  height: 292.79px;
  bottom: 65.48px;
  left: -90px;
}
.hero-vector-1 {
  position: absolute;
  width: 108.49px;
  height: 108.35px;
  left: calc(50% - 108.49px / 2 - 530.12px);
  bottom: -40px;
}
.hero-vector-2 {
  position: absolute;
  width: 108.49px;
  height: 108.35px;
  left: calc(50% - 116.2px / 2 + 565.9px);
  bottom: -10px;
}
.hero-vector-3 {
  position: absolute;
  width: 39.02px;
  height: 39.05px;
  left: calc(50% - 39.02px / 2 + 859.76px);
  bottom: 117px;
}
.hero-vector-4 {
  position: absolute;
  width: 21.43px;
  height: 21.64px;
  left: calc(50% - 21.43px / 2 - 736.29px);
  bottom: 40px;
}
.hero-vector-5 {
  position: absolute;
  width: 21.69px;
  height: 21.67px;
  left: calc(50% - 21.69px / 2 + 417.65px);
  bottom: 23px;
}
.hero-vector-6 {
  position: absolute;
  width: 98.5px;
  height: 98.33px;
  left: calc(50% - 98.5px / 2 + 865.2px);
  bottom: -45px;
}
.hero-vector-7 {
  position: absolute;
  width: 91.75px;
  height: 91.63px;
  right: 0;
  bottom: 298px;
}
.hero-vector-8 {
  position: absolute;
  width: 149px;
  height: 120.29px;
  transform: rotate(7.38deg);
  left: calc(50% - 149px / 2 - 313.46px);
  bottom: -40px;
}

/* hero vectors */
@media (min-width: 1700px) and (max-width: 1799px) {
  .hero-vector-2 {
    left: calc(50% - 116.2px / 2 + 765.9px);
  }
}
@media (min-width: 1600px) and (max-width: 1699px) {
  .hero-vector-2 {
    left: calc(50% - 116.2px / 2 + 665.9px);
  }
  .hero-vector-4 {
    left: calc(50% - 21.43px / 2 - 636.29px);
  }
}
@media (min-width: 1500px) and (max-width: 1599px) {
  .hero-vector-2 {
    left: calc(50% - 116.2px / 2 + 685.9px);
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 617.65px);
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  .hero-vector {
    display: none;
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 617.65px);
  }
  .hero-vector-8 {
    display: none;
  }
  .hero {
    background-position: bottom -200px right -50px, right 0 bottom -50px;
    background-size: 1199px 894px, 100%;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .hero-vector {
    display: none;
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 617.65px);
  }
  .hero-vector-8 {
    display: none;
  }
  .hero {
    background-position: bottom -200px right -50px, right 0 bottom -20px;
    background-size: 1099px 894px, 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-vector {
    display: none;
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 517.65px);
  }
  .hero-vector-7 {
    display: none;
  }
  .hero-vector-8 {
    display: none;
  }
  .hero {
    background-position: bottom -200px right -50px, right 0 bottom -20px;
    background-size: 999px 894px, 100%;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .hero-vector {
    display: none;
  }
  .hero-vector-1 {
    left: calc(50% - 108.49px / 2 - 430.12px);
  }
  .hero-vector-2 {
    left: calc(50% - 116.2px / 2 + 485.9px);
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 317.65px);
  }
  .hero-vector-7 {
    display: none;
  }
  .hero-vector-8 {
    display: none;
  }
  .hero {
    background-position: bottom -220px right -50px, right 0 bottom -20px;
    background-size: 859px 894px, 100%;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .hero-vector {
    display: none;
  }
  .hero-vector-1 {
    left: calc(100% - 108.49px / 2 - 230.12px);
  }
  .hero-vector-2 {
    left: calc(50% - 116.2px / 2 + 485.9px);
  }
  .hero-vector-5 {
    left: calc(50% - 21.69px / 2 + 217.65px);
  }
  .hero-vector-7 {
    display: none;
  }
  .hero-vector-8 {
    display: none;
  }
  .hero {
    background-position: bottom -270px right -50px, right 0 bottom -20px;
    background-size: 859px 894px, 100%;
  }
}
@media (max-width: 999px) {
  .h-vector {
    display: none;
  }
}
@media (min-width: 1000px) {
  .who {
    background-image: url("../img/who-vectors/Vector-2.svg"),
      url("../img/who-vectors/Vector-3.svg"),
      url("../img/who-vectors/Vector-4.svg");
    background-repeat: no-repeat;
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 290px bottom 72px;
    /* background-attachment: fixed; */
  }
}

/* who vectors */
.w-vector {
  position: absolute;
}
.who-vector {
  z-index: 20;
  right: 785px;
  bottom: 280px;
  width: 318.07px;
}
.who-vector-1 {
  z-index: 20;
  right: 430px;
  bottom: 290px;
  width: 265.12px;
}
@media (min-width: 1800px) and (max-width: 1899px) {
  .who-vector {
    z-index: 20;
    right: 725px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 400px;
    bottom: 290px;
  }
}
@media (min-width: 1700px) and (max-width: 1799px) {
  .who-vector {
    z-index: 20;
    right: 675px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 360px;
    bottom: 290px;
  }
}
@media (min-width: 1600px) and (max-width: 1699px) {
  .who-vector {
    z-index: 20;
    right: 625px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 320px;
    bottom: 290px;
  }
}
@media (min-width: 1500px) and (max-width: 1599px) {
  .who-vector {
    z-index: 20;
    right: 575px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 270px;
    bottom: 290px;
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  .who-vector {
    z-index: 20;
    right: 525px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 220px;
    bottom: 290px;
  }
  .who {
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 188px bottom 136px;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .who-vector {
    z-index: 20;
    right: 475px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 170px;
    bottom: 290px;
  }
  .who {
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 188px bottom 136px;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .who-vector {
    z-index: 20;
    right: 425px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 120px;
    bottom: 300px;
  }
  .who {
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 188px bottom 136px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .who-vector {
    z-index: 20;
    right: 375px;
    bottom: 280px;
  }
  .who-vector-1 {
    z-index: 20;
    right: 70px;
    bottom: 300px;
  }
  .who {
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 98px bottom 136px;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .who-vector {
    display: none;
  }
  .who-vector-1 {
    z-index: 20;
    right: 20px;
    bottom: 300px;
  }
  .who {
    background-position: right -83px bottom 544px, right 164px top 81px,
      left 50px bottom 136px;
  }
}
@media (max-width: 999px) {
  .w-vector {
    display: none;
  }
}
/* about vectors */
@media (min-width: 1000px) {
  .about {
    background-image: url("../img/about-vectors/Vector.svg"),
      url("../img/about-vectors/Vector-1.svg"),
      url("../img/about-vectors/Vector-2.svg"),
      url("../img/about-vectors/Vector-3.svg");
    background-repeat: no-repeat;
    background-position: right 106px bottom 56px, right 235px bottom 56px,
      right 180px top 185px, left 0 bottom 191px;
    /* background-attachment: fixed; */
  }
}

@media (min-width: 1000px) and (max-width: 1699px) {
  .about {
    background-image: url("../img/about-vectors/Vector.svg"),
      url("../img/about-vectors/Vector-1.svg"),
      url("../img/about-vectors/Vector-2.svg");
    background-position: right 106px bottom 56px, right 235px bottom 56px,
      right 80px top 185px, left 0 bottom 191px;
  }
}
/* how */
@media (min-width: 1500px) {
  .how {
    background-image: url("../img/how-vectors/Vector.svg");
    background-repeat: no-repeat;
    background-position: left 117px bottom 181px;
    /* background-attachment: fixed; */
  }
}
