/* HiddenElements */
@media (max-width: 999px) {
  /* footer */
  footer {
    padding-bottom: 18px;
  }
  .footer-flex .soclinks {
    display: none;
  }
  .footer-flex .info > p {
    display: none;
  }
  .soclinks-mobile {
    display: flex;
  }
  .soclinks-mobile a:hover {
    background: #ee3f48;
  }
  .soclinks-mobile a {
    display: block;
    width: 39.93px;
    height: 39.91px;
    background: #cdcdcd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .soclinks-mobile > li .icon {
    width: 24.2px;
    height: 24.2px;
    display: block;
  }
  .soclinks-mobile > li:not(:last-child) {
    margin-right: 25.54px;
  }
  .copy-mobile {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    text-align: left;
    padding: 0 20px;
    padding-top: 18px;
  }
}
@media (min-width: 1000px) {
  /* footer */
  .soclinks-mobile {
    display: none;
  }
}

/* Mobile */
