/* Бургер Меню */

.burger-menu_button {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 30;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 300ms ease;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(1);
  transition: 300ms ease;
}
.burger-menu_lines,
.burger-menu_lines::before,
.burger-menu_lines::after {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #222628;
  border-radius: 2px;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: "";
  top: -8px;
}
.burger-menu_lines::after {
  content: "";
  bottom: -8px;
}

.burger-menu_active .burger-menu_button,
.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #fff;
}
.burger-menu_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}
.burger-menu_nav {
  padding: 39px 0 58px 0;
  position: fixed;
  z-index: 26;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #515b60;
  box-shadow: 0px 4px 9px rgba(91, 91, 91, 0.15);
  overflow-y: auto;
  transform: translateY(-100%);
  transition: 0.5s;
  width: 100vw;
}
.burger-menu_active .burger-menu_nav {
  transform: translateY(0);
}
.burger-menu_link {
  text-align: left;
  padding: 10px 0;
  padding-left: 54px;
  text-decoration: none;
  font-size: 18px;
  line-height: 290%;
  color: #fff;
  transition: 300ms ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.burger-menu_link:hover {
  color: #fff;
  font-weight: 700;
  background: #7c8184;
  box-shadow: 0px 4px 9px rgba(91, 91, 91, 0.15);
  transition: 300ms ease;
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
}

@media (max-width: 799px) {
  .header-flex .nav-bar {
    display: none;
  }
  .burger-menu_button {
    display: block;
  }
}

/* Контент */
@media (max-width: 799px) {
  .container {
    padding: 0 12px;
  }
  header {
    padding-top: 10.68px;
  }
  .header-logo-link {
    padding-top: 5px;
  }
  .header-flex .header-flex img {
    width: 111px;
    height: auto;
  }
  /* hero */
  .hero {
    padding-top: 31.76px;
    padding-bottom: 214.47px;
  }
  .hero h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
  }
  .hero h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 17.78px;
  }
  .hero p {
    width: 297.14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  .hero a {
    width: 250.52px;
    height: 50px;
  }
  /* who */
  .who {
    padding-top: 66.67px;
    margin: 0;
  }
  .who-top {
    flex-direction: column-reverse;
  }
  .top-text {
    margin: 0;
    padding-left: 18px;
  }
  .who-top h1 {
    width: 287.38px;
    font-weight: 700;
    font-size: 26px;
    line-height: 115%;
    margin-bottom: 8px;
  }
  .who-top p {
    width: 297.14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 35px;
  }
  .who-top img {
    width: 320px;
    height: auto;
    margin-left: -20px;
  }
  .who-cards {
    display: none;
  }
  /* duties */
  .duties {
    display: none;
  }
  /* about */
  .about {
    padding-top: 81px;
    padding-bottom: 94.33px;
  }
  .about-flex {
    flex-direction: column;
  }
  .about-text {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 18px;
  }
  .about-text h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 115%;
    margin-bottom: 8px;
  }
  .about-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 297.14px;
  }
  .about-flex img {
    width: 329.62px;
    height: auto;
  }
  /* how */
  .how {
    display: none;
  }
  /* form */
  .form {
    padding-top: 48px;
    padding-bottom: 102px;
  }
  .form-flex img {
    display: none;
  }
  .form-text h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 115%;
    margin-bottom: 32px;
    text-align: center;
  }
  .form-text input {
    width: 260px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
  .form-text input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
  }
  .form-text button {
    width: 260px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
  }
  /* footer */
  footer {
    padding-top: 29px;
    padding-bottom: 18px;
    padding-left: 21px;
  }
  .footer-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .info {
    height: fit-content;
    margin-bottom: 28px;
  }
  .footer-flex .info a {
    margin-bottom: 0;
  }
  .mobile-hidden {
    display: none;
  }
  .contacts > li:last-child {
    margin-top: 37.29px;
    margin-bottom: 27.91px;
  }
  .soclinks-mobile li {
    width: 33.56px;
    height: 33.56px;
  }
  .soclinks-mobile li:not(:last-child) {
    margin-right: 21.34px;
  }
}

@media (max-width: 799px) {
  .swiper-container {
    display: flex;
  }
}
