.feedback {
  padding-bottom: 197px;
}
.feedback-flex {
  display: flex;
}
.feedback-flex > img {
  display: block;
  width: 805px;
  height: 766px;
  margin-right: 87.03px;
  margin-left: -287.66px;
  margin-top: -16.64px;
}
.feedback-text {
  margin-top: 183.89px;
}
.feedback-text > h1 {
  font-weight: 800;
  font-size: 75px;

  text-transform: uppercase;

  color: #ee4148;
}
.feedback-text > h2 {
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  margin-bottom: 20.23px;
}
.feedback-text > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  width: 470.3px;
  margin-bottom: 44.64px;
}
.feedback-text > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333.97px;
  height: 60px;
  background: #8ed864;
  border-radius: 67px;
  font-family: "Nunito", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
}
.feedback-text > a:hover {
  background: #c2eeaa;
}
.feedback-soclinks {
  display: flex;
  margin-top: 153.94px;
}
.feedback-soclinks > li {
  width: 40px;
  height: 40px;
  background: #b8e3a0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-soclinks > li:hover {
  background: #c2eeaa;
}
.feedback-soclinks > li:not(:last-child) {
  margin-right: 25.21px;
}
.feedback-soclinks > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.feedback-soclinks img {
  display: block;
  width: 24px;
  height: 24px;
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .feedback-flex > img {
    margin-right: 57.03px;
    margin-left: -157.66px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .feedback-flex > img {
    margin-right: 37.03px;
    margin-left: -57.66px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .feedback-flex > img {
    width: 605px;
    height: auto;
    margin-right: 17.03px;
    margin-left: -27.66px;
  }
  .feedback-soclinks {
    margin-top: 103.94px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .feedback-flex > img {
    width: 505px;
    height: auto;
    margin-right: 17.03px;
    margin-left: -17.66px;
  }
  .feedback-soclinks {
    margin-top: 53.94px;
  }
  .feedback-text > h1 {
    font-size: 55px;
  }
  .feedback-text > h2 {
    font-size: 30px;
  }
  .feedback-text > p {
    width: 370.3px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .feedback-flex > img {
    width: 405px;
    height: auto;
    margin-right: 17.03px;
    margin-left: -57.66px;
    margin-top: 0;
  }
  .feedback-text {
    margin-top: 133.89px;
  }
  .feedback-soclinks {
    margin-top: 53.94px;
  }
  .feedback-text > h1 {
    font-size: 55px;
  }
  .feedback-text > h2 {
    font-size: 30px;
  }
  .feedback-text > p {
    width: 370.3px;
    margin-bottom: 34.64px;
  }
  .feedback-soclinks > li:not(:last-child) {
    margin-right: 20.21px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  .feedback {
    padding-bottom: 107px;
  }
  .feedback-flex > img {
    width: 355px;
    height: auto;
    margin-right: 17.03px;
    margin-left: -37.66px;
    margin-top: 0;
  }
  .feedback-text {
    margin-top: 133.89px;
  }
  .feedback-soclinks {
    margin-top: 53.94px;
  }
  .feedback-text > h1 {
    font-size: 35px;
  }
  .feedback-text > h2 {
    font-size: 25px;
  }
  .feedback-text > p {
    width: 300.3px;
    margin-bottom: 34.64px;
    font-size: 18px;
  }
  .feedback-text > a {
    width: 250.97px;
    height: 50px;
    font-size: 18px;
  }
  .feedback-soclinks > li:not(:last-child) {
    margin-right: 20.21px;
  }
}
/* Mobile */
@media (min-width: 600px) and (max-width: 699px) {
  .feedback {
    padding-bottom: 107px;
  }
  .feedback-flex > img {
    width: 305px;
    height: auto;
    margin-right: 17.03px;
    margin-left: -37.66px;
    margin-top: 0;
  }
  .feedback-text {
    margin-top: 133.89px;
  }
  .feedback-soclinks {
    margin-top: 53.94px;
  }
  .feedback-text > h1 {
    font-size: 35px;
  }
  .feedback-text > h2 {
    font-size: 25px;
  }
  .feedback-text > p {
    width: 280.3px;
    margin-bottom: 34.64px;
    font-size: 18px;
  }
  .feedback-text > a {
    width: 200.97px;
    height: 50px;
    font-size: 18px;
  }
  .feedback-soclinks > li:not(:last-child) {
    margin-right: 20.21px;
  }
}
@media (min-width: 280px) and (max-width: 599px) {
  .feedback {
    padding-top: 37.76px;
    padding-bottom: 0px;
  }
  .feedback-flex {
    flex-direction: column-reverse;
  }
  .feedback-flex > img {
    width: 354px;
    height: 336px;
    margin-bottom: 30px;
    margin-top: -40px;
    margin-left: -26.98px;
    margin-right: 0;
  }
  .feedback-text {
    margin-top: 0px;
  }
  .feedback-soclinks {
    display: none;
  }
  .feedback-text > h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
  }
  .feedback-text > h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 17.78px;
  }
  .feedback-text > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 41px;
    width: 397.14px;
  }
  .feedback-text > a {
    width: 269px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  }
  .feedback-soclinks > li:not(:last-child) {
    margin-right: 20.21px;
  }
}
@media (min-width: 300px) and (max-width: 499px) {
  .feedback-text > p {
    width: 297.14px;
  }
  .feedback-flex > img {
    width: 324px;
    margin-bottom: 30px;
    margin-top: -40px;
    margin-left: -26.98px;
    margin-right: 0;
  }
}

/* background */

.feedback {
  background-repeat: no-repeat;
}

@media (min-width: 1600px) {
  .feedback {
    background-position: bottom 0 left 0, top 103px right 0,
      top 215px right 224px;
    background-size: 1500px, 155px, 65.66px;
  }
}
@media (min-width: 1000px) {
  .feedback {
    background-image: url("../img/thank-you/bg-desktop.svg"),
      url("../img/thank-you/vector-l-feedback.svg"),
      url("../img/thank-you/vector-s-feedback.svg");
  }
}
@media (min-width: 1500px) and (max-width: 1599px) {
  .feedback {
    background-position: bottom 0 left 0, top 103px right 0,
      top 55px right 224px;
    background-size: 1500px, 155px, 65.66px;
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
  .feedback {
    background-position: bottom 0 left -20px, top 603px right 0,
      top 555px right 224px;
    background-size: 1400px, 155px, 65.66px;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .feedback {
    background-position: bottom 0 left -20px, top 603px right 0,
      top 555px right 224px;
    background-size: 1300px, 155px, 65.66px;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .feedback {
    background-position: bottom 0 left -20px, top 603px right 0,
      top 555px right 124px;
    background-size: 1300px, 155px, 65.66px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .feedback {
    background-position: bottom 0 left -20px, top 503px right 0,
      top 455px right 124px;
    background-size: 1200px, 155px, 65.66px;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .feedback {
    background-position: bottom 0 left -20px, top 103px right -20px,
      top 95px right 124px;
    background-size: 1200px, 155px, 65.66px;
  }
}
